body {
	font-family: "Arial", sans-serif;
}

.hero {
	background: linear-gradient(45deg, #a19cc2, #83bdd1);
}

.menu-item {
	transition: transform 0.3s;
}

.menu-item:hover {
	transform: scale(1.05);
}

.btn-custom {
	background-color: #0f0d0d; /* Tomato color */
	color: white;
}

.btn-custom:hover {
	background-color: #171515;
}
